In [1]:
a = 10
b = 20
if a == 10 or b > 20:
    print("this is a valid statement")
elif a == 10 and b <=20 :
    print("This is also valid inside elif statement")
else: 
    print("This is not avalid statement")

this is a valid statement

In [2]:
First_name = input()
Last_name = input()

if First_name == 'Shivam' and Last_name == 'Jha':
    print("My fisrt name is {}".format(First_name) ,"and last name is {}".format(Last_name))
else:
    print("This is not my name")

KeyboardInterrupt: Interrupted by user

In [ ]:
initial_speed = 0
final_speed = 10

count = 1
while  initial_speed < final_speed:
    print("Speed is normal")
    count = count + 1
    if count == 5:
        break

In [ ]:
i = 3
j = 6

while i < j:
    print(i)
    i = i + 1
else: 
    print("What is this ?")

In [ ]:
pwd

In [ ]:
notes = 5
i =1
j = 1
while i < notes:
    print(i)
    i+= 1
else: 
    while j < 2:
        print(i)
        j = j +1
    print("No 10 rs notes are available")

In [ ]:
s = "my name is shivamjha"
s

In [ ]:
s[11:2:-1]

In [ ]:
s[::-1]

In [ ]:
s[2:-6]

In [ ]:
for i in s:
    if i == 'v':
        print("I got v as a string")
    print(i)

In [ ]:
for i in s:
    print(i)
else: 
    print("This is a else condition")

In [ ]:
n = 5
for i in range(n,0,-1):
    for j in range(0,n-i):
        print(' ', end ='')
        
    for j in range(2*i-1):
        print('*', end ='')
    print()

In [ ]:
num = 5
m = 2 * num - 2
for i in range(num, -1,-1):
    for j in range(m,0,-1):
        print(end=" ")
    m = m +1
    for j in range(0,i+1):
        print('*', end =' ')
    print("")

In [ ]:
n = 9
i = 0
while i < n:
    print(' '*(n-i-1) + '* '*(i+1))
    i = i+1

In [ ]:
pwd

In [ ]:
l = ["shiv",34567,'sbjsbdljs',True,45+8j,[3,5,6,"jha"],6.78]
l

In [ ]:
l[5]

In [ ]:
l[8:3:-1]

In [44]:
s = "This is Shivam Jha"
s

'This is Shivam Jha'

In [45]:
len(s)

18

In [46]:
for i in range(len(s)):
    print(s[i])
    i = i + 1

T
h
i
s

i
s

S
h
i
v
a
m

J
h
a

In [47]:
pwd

'/Users/shivamjha/DataScience/FullStackDataScience'

In [48]:
'shivam' + 'jha'

'shivamjha'

In [49]:
'shivam' + ['jha', 3,4,5,6]

TypeError: can only concatenate str (not "list") to str

In [50]:
'sudh' * 6

'sudhsudhsudhsudhsudhsudh'

In [51]:
s

'This is Shivam Jha'

In [52]:
s.count('s')

2

In [53]:
s.find('Shivam')

8

In [54]:
for i in s.index("Shivam"):
    i = i + 1

TypeError: 'int' object is not iterable

In [55]:
b = s.find('Shivam')
for i in range(len('Shivam')):
    print(b + i)

8
9
10
11
12
13

In [57]:
s.split()

['This', 'is', 'Shivam', 'Jha']

In [ ]:
s.swapcase()

In [ ]:
s

In [ ]:
"@".join(s)

In [ ]:
s

In [ ]:
m = "  ndsklkldf    "
m

In [ ]:
m.rstrip()

In [58]:
a  = "we all are a part of Full Stack"
b = a.lower()
print('lower:', b )
c = a.count('a')
print('Count of a :',c)
for i in range(len('we all are a part of Full Stack')):
    if a[i]== 'a':
        print(i)
str = a.replace("a","iNeutron")
print('Replace a with iNeutron:',str)
print(a.split())

lower: we all are a part of full stack
Count of a : 5
3
7
11
14
28
Replace a with iNeutron: we iNeutronll iNeutronre iNeutron piNeutronrt of Full StiNeutronck
['we', 'all', 'are', 'a', 'part', 'of', 'Full', 'Stack']

In [ ]:
a.lower()

In [ ]:
a.count('a')

In [ ]:
b = a.find('a')
b

In [ ]:
len(a)

In [ ]:
for i in range(len('we all are a part of Full Stack')):
    if a[i]== 'a':
        print(i)

In [ ]:
b = a.replace("a","iNeutron")
b.split()

In [ ]:
x = 4
y = 5

a = x < y
b = x > y
print(a)
print(b)
type(a)
type(b)

In [ ]:
#Make a list of each Boolean operator's truth tables 
#(i.e. every possible combination of Boolean values for the operator and what it evaluate ).

x = 4
y = 5

In [ ]:
print("x == y:", x == y)
print("x != y:", x != y)
print("x < y:", x < y)
print("x > y:", x > y)
print("x <= y:", x <= y)
print("x >= y:", x >= y)

In [ ]:
a = True
type(a)
 
b = False
type(b)

In [ ]:
(5 > 4) and (3 == 5)

In [ ]:
not(5 > 4)

In [ ]:
(5 > 4) or (3 == 5)

In [ ]:
not ((5 > 4) or (3 == 5))

In [ ]:
(True and True) and (True == False)

In [ ]:
(not False) or (not True)

In [ ]:
spam = 0

## from line number 4 to 5 is Block 1
if spam == 10:
    print('eggs')
    
## from line number 8 to 9 is Block 2
if spam > 5:
    print('bacon')
    
## from line number 12 to 15 is Block 2
else:
    print('ham')
    print('spam')
    print('spam')

In [3]:
"""Write code that prints Hello if 1 is stored in spam, prints Howdy 
if 2 is stored in spam, and prints Greetings! if anything else is stored in spam.
"""

spam = int(input())
if spam == 1:            ## this condition will prints Hello if 1 is stored in spam
    print("Hello")
elif spam == 2:          ## this condition will prints Howdy if 2 is stored in spam
    print("Howdy")
else:                    ## this condition will prints Greetings! if anything is stored in spam
    print("Greetings!")

1
Hello

In [4]:
num = [10, 20, 30, 40, 50]
for i in num:
    if i > 40:
        break
    print(i)

10
20
30
40

In [5]:
num = [10, 20, 30, 40, 50, 25, 35]
for i in num:
    # skip below statement if number is greater than 40
    if i > 40:
        continue
    print(i)

10
20
30
40
25
35

In [24]:
num_range_1 = range(10) #start=0, stop=10, step=1
print(num_range_1)
for i in num_range_1:
    print('Values = ', num_range_1[i])

range(0, 10)
Values =  0
Values =  1
Values =  2
Values =  3
Values =  4
Values =  5
Values =  6
Values =  7
Values =  8
Values =  9

In [27]:
num_range_2 = range(0,10) #start=0, stop=10, step=1
print(num_range_2)
for i in num_range_2:
    print('Values = ', num_range_2[i])

range(0, 10)
Values =  0
Values =  1
Values =  2
Values =  3
Values =  4
Values =  5
Values =  6
Values =  7
Values =  8
Values =  9

In [28]:
num_range_3 = range(0,10,1) #start=0, stop=10, step=1
print(num_range_3)
for i in num_range_3:
    print('Values = ', num_range_3[i])

range(0, 10)
Values =  0
Values =  1
Values =  2
Values =  3
Values =  4
Values =  5
Values =  6
Values =  7
Values =  8
Values =  9

In [31]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [7]:
num = 1
while num <= 10:
    print(num)
    num = num +1

1
2
3
4
5
6
7
8
9
10

In [ ]:
i = 1
while(i<=10):
    print(i)
    i += 1

In [1]:
l = [True,[45,56,6,'c'],45.56,234,'sudh']
l

[True, [45, 56, 6, 'c'], 45.56, 234, 'sudh']

In [2]:
l[::-1]

['sudh', 234, 45.56, [45, 56, 6, 'c'], True]

In [6]:
for i in l:
    if type(i) == list:
        print('this is a list',i)
    else: 
        print('this is not a list',i)

this is not a list True
this is a list [45, 56, 6, 'c']
this is not a list 45.56
this is not a list 234
this is not a list sudh

In [8]:
l1 = [345, 2345,"iNeuron","tech"]
l1

[345, 2345, 'iNeuron', 'tech']

In [9]:
l +l1

[True, [45, 56, 6, 'c'], 45.56, 234, 'sudh', 345, 2345, 'iNeuron', 'tech']

In [10]:
l *2

[True,
 [45, 56, 6, 'c'],
 45.56,
 234,
 'sudh',
 True,
 [45, 56, 6, 'c'],
 45.56,
 234,
 'sudh']

In [11]:
len(l)

5

In [13]:
True in l

True

In [20]:
print(max([2,3,5,11]))

11

In [21]:
l

[True, [45, 56, 6, 'c'], 45.56, 234, 'sudh']

In [27]:
l.append('shivam')
l

[True,
 [45, 56, 6, 'c'],
 45.56,
 234,
 'sudh',
 'shivam',
 'shivam',
 'shivam',
 'shivam']

In [28]:
l

[True,
 [45, 56, 6, 'c'],
 45.56,
 234,
 'sudh',
 'shivam',
 'shivam',
 'shivam',
 'shivam']

In [30]:
l +["jha"]

[True,
 [45, 56, 6, 'c'],
 45.56,
 234,
 'sudh',
 'shivam',
 'shivam',
 'shivam',
 'shivam',
 'jha']

In [32]:
l.insert(1,"Raja")
l

[True,
 'Raja',
 'Raja',
 [45, 56, 6, 'c'],
 45.56,
 234,
 'sudh',
 'shivam',
 'shivam',
 'shivam',
 'shivam']

In [34]:
print(l)

[True, 'Raja', 'Raja', [45, 56, 6, 'c'], 45.56, 234, 'sudh', 'shivam', 'shivam', 'shivam', 'shivam']

In [36]:
l.count("Raja")

2

In [38]:
print(l)

[True, 'Raja', 'Raja', [45, 56, 6, 'c'], 45.56, 234, 'sudh', 'shivam', 'shivam', 'shivam', 'shivam']

In [39]:
l.append([9,7])

In [40]:
l

[True,
 'Raja',
 'Raja',
 [45, 56, 6, 'c'],
 45.56,
 234,
 'sudh',
 'shivam',
 'shivam',
 'shivam',
 'shivam',
 [9, 7]]

In [41]:
l.extend('name')

In [42]:
l

[True,
 'Raja',
 'Raja',
 [45, 56, 6, 'c'],
 45.56,
 234,
 'sudh',
 'shivam',
 'shivam',
 'shivam',
 'shivam',
 [9, 7],
 'n',
 'a',
 'm',
 'e']

In [60]:
a  = ["we all are a part of Full Stack"]
print('lower:', b )
c = a.count('a')
print('Count of a :',c)
for i in range(len('we all are a part of Full Stack')):
    if a[i]== 'a':
        print(i)
str = a.replace("a","iNeutron")
print('Replace a with iNeutron:',str)
print(a.split())

lower: we all are a part of full stack
Count of a : 0

IndexError: list index out of range

In [61]:
l

[True,
 'Raja',
 'Raja',
 [45, 56, 6, 'c'],
 45.56,
 234,
 'sudh',
 'shivam',
 'shivam',
 'shivam',
 'shivam',
 [9, 7],
 'n',
 'a',
 'm',
 'e']

In [69]:
l.pop()

'shivam'

In [70]:
l

[True, 'Raja', 'Raja', [45, 56, 6, 'c'], 45.56, 234, 'sudh', 'shivam']

In [71]:
l.remove('Raja')
l

[True, 'Raja', [45, 56, 6, 'c'], 45.56, 234, 'sudh', 'shivam']